.productCard {
	display: flex;
	flex-direction: column;
	width: 270px;
	margin: 20px;
	border: 2px solid #03720c;
	background-color: rgb(48, 165, 87);
	transition: background-color 0.3s ease;
}
.imgCard {
	width: 150px;
	height: 300px;
}
.productCard :hover {
	background-color: rgb(20, 110, 50);
	box-shadow: 8px 10px 5px 2px rgba(0, 0, 0, 0.2);
}

.productCard > a > img {
	display: block;
	width: 100%;
}

.productCardLink {
	text-decoration: none;
	color: inherit;
}

.productCardFooter {
	padding: 5px;
	border-top: 1px solid #000;
}

.productCardFooter h4 {
	margin: 0;
	color: #fff;
}

.productCardInfo {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.productPrice {
	display: flex;
	font-weight: bold;
	color: #fff;
}
