.productImage {
	float: left;
	margin: 0 20px 10px 0;
}
.productFormContainer {
	width: 1000px;
	margin: 0 auto;
}
.formGroup {
	color: #000;
}

.formGroup1 {
	color: #000;
	margin-top: 8px;
	margin-right: 5px;
	margin-left: 5px;
}
.formGroup2 {
	color: #000;
	margin-right: 5px;
	margin-left: 5px;
}

.categoryDiv {
	display: flex;
}

.productText {
	min-height: 100px;
	border: 1px solid #000;
	font-size: 18px;
	white-space: pre-line;
	background-color: white;
}

.error {
	color: red;
	font-size: 14px;
}
