.registrationContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registrationButton {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	width: 100%;
	height: 32px;
}

form {
	display: flex;
	flex-direction: column;
	width: 250px;
}
