.tableRowContainer {
	display: flex;
	align-items: center;
	border: none;
}

.border {
	border: 1px solid #000000;
}

.tableRowContainer > div {
	display: flex;
	padding: 0 36px;
}

.loginColumn {
	width: 172px;
}

.registeredAddColumn {
	width: 213px;
}

.roleColumn {
	width: auto;
}

.userRowContainer {
	display: flex;
	margin-top: 10px;
}

.userRowContainer select {
	padding: 0 5px;
	font-size: 16px;
	border: none;
	background-color: antiquewhite;
}

.usersContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 570px;
	font-size: 18px;
}
